#head{
   display: flex; 
   gap: 50%;
   background-color: palevioletred;
   color: white;
}

#navbar{
   margin-left: 70%;
   background-color: black;
   width: 30%;
}

#image1{
    display: flex;
    gap: 20%;
}

#para1{
    font-weight: 600;
    font-size: x-large;
}

#but1{
    background-color: palevioletred;
    margin-left: 5%;
    height: 10%;
}

#texts{
    display: flex;
    gap: 7%;
    margin-left: 5%;
}

#colm1{
    display: flex;
    gap: 10%;
    margin-left: 5%;
}

#ojuice{
    height: 60%;
}

#colm2{
    display: flex;
    gap: 10%;
    margin-left: 5%;
}

#Ntext{
    text-align: center;
    margin-right: 10%;
    font-size: x-large;
}

#Ttext{
    text-align: center;
    margin-right: 10%;
    font-size: x-large;
}

#icon1{
    margin-left: 45%;
}

#juicy1{
    display: flex;
    gap: 10%;
    margin-left: 20%;  
    background-color: olivedrab;
}

#J2{
    display: flex;
    gap: 10%;
    margin-left: 5%;
}

#oj3{
    display: flex;
    gap: 13%;
    margin-left: 5%;

}

#Trendtext{
    text-align: center;
    font-size: x-large;
}

#feat{
    text-align: center;
    font-size: x-large;
}

#foot{
    display: flex;gap: 10%;
}

#f1{
    list-style: none;
}

#f2{
    list-style: none;
}
#f3{
    list-style: none;}


#bdy{
    background-color: palevioletred;
}

#img1{
    display: flex;
    gap: 10%;
}

#img2{
    display: flex;
    gap: 10%;
}



.prev{
    font-size: 50%;
    cursor: pointer;
    color: purple;
    position: absolute;
}

.next{
    font-size: 50%;
    cursor: pointer;
    color: palevioletred;
}


.prev:hover, .next:hover{
   color: purple;
}
@media screen and (min-width: 375px) and (max-width: 939px){

    #navbar{
        
        background-color: white;
        display: grid;
        margin-left: 8%;
     }

     #image1{
        flex-wrap: wrap;
     }

     #pic1{
        width: 80%;
     }

     #colm1{
        flex-wrap: wrap;
     }

     #colm2{
        flex-wrap: wrap;
     }

     #juicy1{
        flex-wrap: wrap;
        margin-left: 3%;
        width: 55%;
     }

     #J2{
        flex-wrap: wrap;
     }

     #oj3{
        flex-wrap: wrap;
     }

     #foot{
        flex-wrap: wrap;
     }

     #texts{
        flex-wrap: wrap;
     }

     #head{
        width: 90%;
     }
}
